<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole | About </title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32">
    <script src="https://kit.fontawesome.com/5f01a917de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="about-body ">
    <header>
        <nav class="general-body-nav">
            <ul class="general-body-nav-ul">
                <li class="general-body-nav-ul-li"><a href="/">| HOME |</a></li>
                <li class="general-body-nav-ul-li"><a href="/ABOUT">ABOUT |</a></li>
                <li class="general-body-nav-ul-li"><a href="/MUSIC">MUSIC |</a></li>
                <li class="general-body-nav-ul-li"><a href="/CONTACT">CONTACT |</a></li>
            </ul>
        </nav>
        <ul class="general-caja-ul">
            <li class="general-caja"><a href="https://www.twitter.com" target="_blank"><i
                        class="fa-brands fa-x-twitter"></i></a></li>
            <li class="general-caja"><a href="https://www.facebook.com" target="_blank"><i
                        class="fab fa-facebook"></i></a></li>
            <li class="general-caja"><a href="https://www.spotify.com" target="_blank"><i
                        class="fab fa-spotify"></i></a></li>
            <li class="general-caja"><a href="https://www.apple.com" target="_blank"><i class="fab fa-apple"></i></a>
            </li>
            <li class="general-caja"><a href="https://www.amazon.com" target="_blank"><i class="fab fa-amazon"></i></a>
            </li>
            <li class="general-caja"><a href="https://www.instagram.com" target="_blank"><i
                        class="fab fa-instagram"></i></a></li>
        </ul>
    </header>
    <main>
        <section>
            <article class="about-titulo">
                <h1 class="about-titulo--titulo">ABOUT <br> EMILIA //</h1>
            </article>
            <article class="about-paragraph-container">
                <h3 class="about-paragraph about-paragraph-container--1__titulo">"Seattle-based pop star makes her <br>
                    indie debut with a hauntingly beautiful album"</h3>
                <h6 class="about-paragraph about-paragraph-container--1__subtitulo">- John Tirckle, Music Today Post
                </h6>
            </article>
            <article class="about-paragraph-container">
                <h3 class="about-paragraph about-paragraph-container--2__titulo">"Emilia Cole is one of the <br> scene's
                    breakout stars"</h3>
                <h6 class="about-paragraph about-paragraph-container--2__subtititulo">- John Tirckle, Music Today Post
                </h6>
            </article>
        </section>
    </main>
</body>

</html>