<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32">
    <script src="https://kit.fontawesome.com/5f01a917de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="index-body">
    <header>
        <nav class="index-body-nav">
            <ul class="index-body-nav-ul">
                <li class="index-body-nav-ul-li"><a class="aaa" href="/">HOME</a></li>
                <li class="index-body-nav-ul-li"><a class="aaa" href="/ABOUT">ABOUT</a></li>
                <li class="index-body-nav-ul-li"><a class="aaa" href="/MUSIC">MUSIC</a></li>
                <li class="index-body-nav-ul-li"><a class="aaa" href="/CONTACT">CONTACT</a></li>
            </ul>
        </nav>
        <div class="index-body-nav-redes">
            <ul>
                <li class="caja">
                    <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li class="caja">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="caja">
                    <a href="https://www.spotify.com" target="_blank"><i class="fab fa-spotify"></i></a>
                </li>
                <li class="caja">
                    <a href="https://www.apple.com" target="_blank"><i class="fab fa-apple"></i></a>
                </li>
                <li class="caja">
                    <a href="https://www.amazon.com" target="_blank"><i class="fab fa-amazon"></i></a>
                </li>
                <li class="caja">
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>

    </header>
    <section class="index-body-section-emilia-section">
        <h3 class="index-body-section-emilia-titulo">E M I L I A <br /> C O L E / /</h3>
    </section>

    <section class="index-body-section-emilia">
        <h1 class="index-body-section-emilia-subtititulo">TWIST IN MY REALITY</h1>
        <section>

</body>

</html>