<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole | Music</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32">
    <script src="https://kit.fontawesome.com/5f01a917de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="music_body">
    <header id="header" class="music-header">
        <nav class="music-nav">
            <ul class="music-body-nav-ul">
                <li class="general-body-nav-ul-li"><a href="/">|HOME|</a></li>
                <li class="general-body-nav-ul-li"><a href="/ABOUT">ABOUT|</a></li>
                <li class="general-body-nav-ul-li"><a href="/MUSIC">MUSIC|</a></li>
                <li class="general-body-nav-ul-li"><a href="/CONTACT">CONTACT|</a></li>
            </ul>
        </nav>
        <ul class="music-caja-ul">
            <li class="general-caja"><a href="https://www.twitter.com" target="_blank"><i
                        class="fa-brands fa-x-twitter"></i></a></li>
            <li class="general-caja"><a href="https://www.facebook.com" target="_blank"><i
                        class="fab fa-facebook"></i></a></li>
            <li class="general-caja"><a href="https://www.spotify.com" target="_blank"><i
                        class="fab fa-spotify"></i></a></li>
            <li class="general-caja"><a href="https://www.apple.com" target="_blank"><i class="fab fa-apple"></i></a>
            </li>
            <li class="general-caja"><a href="https://www.amazon.com" target="_blank"><i class="fab fa-amazon"></i></a>
            </li>
            <li class="general-caja"><a href="https://www.instagram.com" target="_blank"><i
                        class="fab fa-instagram"></i></a></li>
        </ul>
    </header>
    <main>
        <h1>MUSIC //</h1>
        <section class="music-direct-link">
            <h4 class="music-direct-link--titulo">Direct links</h4>
            <ul class="music-direct-link--container">
                <li class="music-direct-link--link"><a href="#album">Album</a></li>
                <li class="music-direct-link--link"><a href="#video1">Video: Organic Love</a></li>
                <li class="music-direct-link--link"><a href="#video2">Video: Street Light</a></li>
            </ul>
            <article>
                <div class="music-album">
                    <h2>ALBUM <br> TWIST IN MY REALITY </h2>
                </div>
                </div>
                <img src="/img/emilia-play-list.png" alt="Imagen del album">
                <ol class="music-list">
                    <li class="music-direct-link--link">
                        <i class="fas fa-play" style="color: #000000;"></i><a href="https://vimeo.com/135166028"
                            target="_blank">Organic Love | 02:40</a>
                    </li>
                    <li class="music-direct-link--link">
                        <i class="fas fa-play" style="color: #000000;"></i><a href="">Twist In My Reality | 02:10 </a>
                    </li>
                    <li class="music-direct-link--link">
                        <i class="fas fa-play" style="color: #000000;"></i><a href="https://vimeo.com/134861419"
                            target="_blank">Street Light | 03:28 </a>
                    </li>
                    <li class="music-direct-link--link">
                        <i class="fas fa-play" style="color: #000000;"></i><a href="">Love Don't Live Here Anymore
                            (Cover) | 03:49 </a>
                    </li>
                </ol>
                <h6 class="go-top"><a href="#header" title="Ir al inicio">Go top</a></h6>
            </article>
            <article>
                <h2 class="music-organic-love">VIDEO <br> ORGANIC LOVE</h2>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div class="music-video-paragraph--container">
                    <p class="music-video-paragraph">Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by
                        NICOLAS TROY <br> Produced by NIKI
                        HEART,
                        <br>Wix Films LTD.
                    </p>
                </div>
                <h6 class="go-top"><a href="#header" title="Ir al inicio">Go top</a></h6>
            </article>
            <article>
                <h2 class="music-organic-love">VIDEO <br> STREET LIGHT</h2>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div class="music-video-paragraph--container">
                    <p class="music-video-paragraph">Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by
                        NICOLAS TROY <br> Produced by NIKI
                        HEART,
                        <br>Wix Films LTD.
                    </p>
                </div>
                <h6 class="go-top"><a href="#header" title="Ir al inicio">Go top</a></h6>
            </article>
        </section>
    </main>
</body>

</html>