.about-body {
    background-image: url('../img/emilia-about.jpg');
    background-repeat: no-repeat;
    background-size: 80% 650px;
    background-position: right top;
}

.about-titulo {
    margin-top: 100px;
}

.about-titulo--titulo {
    font-size: 60px;
}

.about-paragraph {
    color: rgb(102, 205, 170);
}

.about-paragraph-container {
    margin-top: 60px;
}


.about-paragraph-container--1__titulo {
    font-size: 30px;
    margin-top: 10px;
}

.about-paragraph-container--2__titulo {
    font-size: 30px;
    margin-top: 10px;
}