header {
    margin-bottom: 40px;

}

.contact-nav{
    display: inline;
    padding-right: 0.5%;
    padding-left: 0.5%;
    border-left: 1px solid black;
}
.contact-caja-ul {
    text-align: right;
    margin-top: 31px;
}


.contact-nombres {
    color: rgb(102, 205, 170);
    margin: 20px 0;
}

.contact-info {
    margin: 20px 0;
}

.contact-datos a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 15px;
}