* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fontGeneral);
  ;}



.caja {
  display: inline-block;
  margin-left: auto;;
}

i {
  color: black;
}


.general-body-nav-ul {
  list-style-type: none;
}

.general-body-nav-ul-li a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
}

.general-body-nav {
  background-color: rgba(211, 211, 211, 0.5);
  width: 100%;
  height: 30px;
  margin-top: 20px;
}


.general-body-nav-ul {
  position: absolute;
  left: 80%;
  padding: 5px 0;
}



.general-body-nav-ul-li {
  display: inline-block;
  margin-left: auto;
}


.general-caja-ul {
  position: absolute;
  left: 88%;
  margin-top: 10px;
}

.general-caja {
  display: inline-block;
  margin-left: auto;
  margin-right: 5px;
}