.music_body {
  margin-top: 0;
}

.music-header {
  background-image: url('../img/emilia-music-top.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
}

.music-nav {
  background-color: rgba(211, 211, 211, 0.5);
  width: 100%;
  height: 30px;
  position: absolute;
  top: 20px;
}


.music-body-nav-ul {
  position: absolute;
  left: 80%;
  padding: 10px 0;
}


.music-caja-ul {
  position: absolute;
  left: 88%;
  top: 10%;
}



.music-direct-link {
  margin-top: 20px;

}


.music-direct-link--container {
  margin-top: 10px;
  margin-left: 40px;
  list-style-type: none;
  margin-bottom: 45px;
}

.music-direct-link--link a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
}

.music-album {
  margin-bottom: 20px;
}


.music-list {
  list-style-type: decimal;
  margin-left: 30px;
  margin-bottom: 15px;
}

.music-direct-link--link i {
  margin-left: 5px;
  margin-right: 5px;
}

h6 a {
  margin-left: 15px;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
}

.music-organic-love {
  margin-top: 60px;
  margin-bottom: 20px;
}

.music-video-paragraph--container {
  margin-left: 15px;
  margin-top: 20px;
}

.go-top {
  margin-top: 20px;
}